<h1>Listing restaurant_comments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Restaurant</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_comments.each do |restaurant_comment| %>
      <tr>
        <td><%= restaurant_comment.title %></td>
        <td><%= restaurant_comment.body %></td>
        <td><%= restaurant_comment.restaurant_id %></td>
        <td><%= restaurant_comment.user_id %></td>
        <td><%= link_to 'Show', restaurant_comment %></td>
        <td><%= link_to 'Edit', edit_restaurant_comment_path(restaurant_comment) %></td>
        <td><%= link_to 'Destroy', restaurant_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant comment', new_restaurant_comment_path %>
